{% extends "base.html" %}

{% block content %}
<body>
<h1>Select category:</h1>
<form action="/join_event_category" method="POST">
    {{ form.csrf_token }}
    <table>
        <tr>
            <td>Active Event: &nbsp</td>
            <td>
                {{ form.active_event_f }}
            </td>
        </tr>
        <tr>
            <td>Category</td>
            <td>

            </td>
        </tr>
        <tr>
            <td>{{ form.submit() }}</td>
        </tr>
    </table>
</form>
</body>
{% endblock %}